.customer-title-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
}

.customer-title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 28%;

}

.customer-title div{
    font-size: 60px;
    align-content: center;
}

.add-icon-btn.MuiButtonBase-root.MuiButton-root{
    border-radius: 50%;
    min-width: 0;
    padding: 8px ;
    position: relative;
    top: 10px;
    right: 24px;
    background-color: rgb( 18, 65, 145);
}

